h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  color: #000000;
  list-style-type: none;
}

.link {
  text-decoration: none;
}

/* @import "./components/page-header"; */
/* @import "./components/hero"; */
/* @import "./components/modal"; */
/* @import "./components/modal-form"; */
/* @import "./components/button-navigation"; */
/* @import "./components/projects"; */
/* @import "./components/overlay"; */
.feature {
  padding-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .peculiarities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* .peculiarities__item {
    min-width: 270px;
    min-height: 101px;
    margin-right: 30px;
    flex-basis: calc((100% - 120px) / 4);

    &:nth-child(4n) {
        margin-right: 0px;
    }
} */
.peculiarities__item {
  min-width: 450px;
  min-height: 120px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .peculiarities__item:nth-child(4n) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .peculiarities__item {
    width: 50%;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities__item {
    width: calc((100% - 6 * 15) / 4);
    margin-right: 30px;
  }
}

/* .peculiarities__position {
    background-color: #f5f4fa;
    margin-bottom: 30px;

    min-width: 270px;
    min-height: 120px;
    display: flex;

    align-items: center;
    justify-content: center;
}
 */
.peculiarities__position {
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .peculiarities__position {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities__position {
    width: calc((100% - 6 * 15) / 4);
  }
}

.peculiarities__icon {
  width: 70px;
  height: 70px;
}

.peculiarities__titl {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.peculiarities__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.bacground-section {
  background: #f5f4fa;
}

.headlines,
.team,
.clients {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .headlines,
  .team,
  .clients {
    margin-bottom: 30px;
  }
}

.images-sector {
  position: relative;
}

.images-sector__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 27px;
}

/* @import "./components/comands"; */
/* @import "./components/footer"; */
/*# sourceMappingURL=main.css.map */