body {
    background-color: $background-color;
    color: $color-text;
    font-family: $primary-font-family;
}
header{
    @media screen and(max-width :767px) {
        position: relative;
        align-items: center;
    }

}

.main-nav {
        display: flex;
  
    
}
.logo {
    font-family: $secondary-font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    
    &--blue{
        color: #2196f3;
    }
    &--black{
        color:$color-text;
    }
    &--white{
        color: #ffffff;
    }
    @media screen and(max-width:767px){
        margin-bottom: 16px;
        margin-top: 16px;
    }
    @media screen and(min-width:768px) {
        margin-bottom: 26px;
        margin-top: 26px;
    }
}
.menu-button{ 
    @media screen and(max-width:767px) {
    position: absolute;
    top: 10%;
    right: 10%;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    
    & .icon-menu {
        display: none;
    }
    }
    @media screen and(min-width:768px) {
        display: none;
    }
}
.menu-button.is-open .icon-menu{
    display: block;
}
.menu-button.is-open .icon-clous {
    display: none;
}
/*site nav */
.site-menu {
    @media screen and(max-width:767px){
    background-color:#ffffff;
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 796px;
    z-index: 2;
    

    &.is-open {
        display: block;

    }
}
@media screen and(min-width:768px) {
    display: flex;
}
}

.site-nav {
    @media screen and(min-width:768px) {
        display: flex;
    }

    
        /* display: flex; */
       /*  margin-left: 93px; */

} 
/* .site-nav__item:not(:last-child) {
    margin-right: 50px;
} */

.site-nav a {
    color: #212121;
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
@media screen and(max-width:767px) {
    font-size: 40px;
    line-height: 1.18;
    margin-left: 40px;

}
    &:hover, &:focus{
        color: $focus-color;
    }

}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    &--current::after{
        @media screen and(min-width:768px){
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #2196f3;
        }

    }
}
.border {
    @media screen and(min-width:768px) {
        border: 1px solid #ececec;
        
    }
}

.contact {
    @media screen and(max-width:767px) {
    margin-left: auto;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 150px;
    margin-left: 40px;
    }
 
}

.contact__item {
    display: flex;
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: $secondary-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width:767px) {
        font-size: 24px;
        line-height: 1.17;
        margin-top: 32px;

        &:not(:first-child) {
            font-size: 34px;
            line-height: 1.18;
        }
    }
    /* &:not(:last-child) {
        margin-right: 30px;
    } */
    &:hover,&:focus{
        color: $focus-color;
    }
}
.contact__icon {

    display: block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: $secondary-color;

    .contact__item:hover &,
    .contact__item:focus & {
        fill: $focus-color;
    }
    @media screen and(max-width:767px) {
        display: none;
}
}
.social-media{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    
    
    letter-spacing: 0.02em;

    text-align: center;
    margin-top: 64px;
    @media screen and(min-width:768px) {
        display: none;
    }
}
    .social-media__item{
        color: $color-text;
        list-style-type: none;
        text-decoration: none;
        padding-left: 5px;
        &:not(:last-child){
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
        padding-right: 10px;
        
    }
            &:hover ,
            &:focus  {
                color: $focus-color;

        }
    }
    