.feature {
    padding-bottom: 0px;
}

.peculiarities {
    @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin:-15px;
    }
}
.peculiarities__item{
    @media screen and(min-width:480px){
    min-width: 450px;
    min-height: 120px;
    }
    @media screen and(min-width:768px) {
    min-width: 354px;
    min-height: 101px;
    flex-basis: calc((100% -120px) / 2);
    @media screen and(max-width:1199px) {
    
    margin-top:15px;
}
    }
    @media screen and(min-width:1200px) {
    min-width: 270px;
    min-height: 101px;
    flex-basis: calc((100% - 120px) / 4);
    margin-right: 15px;
    margin-left: 15px;
    }
    &:nth-child(4n) {
        margin-right: 0px;
    }
}
.peculiarities__position{
    background-color: #f5f4fa;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;

    @media screen and(max-width:767px) {
        max-width: 450px;
        height: 120px;
        text-align: center;

    }
    @media screen and(min-width:768px) {
        max-width: 354px;
        height: 120px;
    
    }
    @media screen and(min-width:1200px) {
        width: 270px;
        height: 120px;
    
    }
}

.peculiarities__icon {
    width: 70px;
    height: 70px;
}

.peculiarities__titl {
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $color-title;

    margin-bottom: 10px;

    @media screen and (max-width :767px){
       text-align: center;
    }
}

.peculiarities__text {
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $secondary-color;

    @media screen and (max-width :767px) {
    margin-bottom: 30px;
    }
}

.bacground-section {
    background: #f5f4fa;
}

.headlines{
    font-family:$primary-font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: $color-title;
    margin-bottom: 50px;

@media screen and(max-width:1199px){
display: none;
}
}
.team,
.clients {
    font-family:$primary-font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: $color-title;
    margin-bottom: 30px;
    
@media screen and(min-width:1200px) {
    margin-bottom: 50px;
}
}

.images-sector {
    position: relative;
    
    &__text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
    
        background: rgba(47, 48, 58, 0.8);
    
        font-family: $primary-font-family;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
    
        padding-top: 27px;
    }
    
}
.main-img {
    display: flex;

    &__item {
        margin-right: 30px;
        width: 370px;
        z-index: -1;
    }

    &:nth-child(3n) {
        margin-right: 0px;
    }
@media screen and(max-width:1199px) {
    display: none;
}
}