 .project {
    display: flex;
    flex-wrap: wrap;
    
    
}

.project__card {
    width: 450px;
    
    margin-bottom: 30px;

    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    transition: box-sizing 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &:focus,&:hover {
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:last-child {
        margin-bottom: 0px;
    }
    @media screen and(min-width:768px) {
        width: calc((100% - 4 * 30px) / 2);
        margin-right: 30px;
        @media screen and(max-width:1199px) {
        &:nth-child(2n) {
            margin-right: 0px
        }
        }
    }
    @media screen and(min-width:1200px){
        width: calc((100% - 6 * 30px) / 3);
        &:nth-child(3n) {
            margin-right: 0px;
        }
        
        &:nth-last-child(-n + 3) {
            margin-bottom: 0px;
        }

    }
}

.project__groop {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.project__titl {
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: $color-title;

    padding-bottom: 4px;
}

.project__text {
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: $secondary-color;
}